* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.list-style-none {
  list-style: none;
}

.container-main {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #000000;
}
header .main-nav {
  padding: 20px;
}
header .main-nav .main-menu {
  justify-content: center;
}
header .main-nav .main-menu .menu-item {
  margin-right: 25px;
}
header .main-nav .main-menu .menu-item .menu-item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
header .main-nav .main-menu .menu-item .menu-item-link:hover {
  color: #96c471;
}
header .main-nav .main-menu .menu-item .menu-item-link.active {
  text-decoration: underline;
  color: #96c471;
}

.footer {
  background-color: #000000;
  padding: 20px;
  color: #ffffff;
}

.packages-travel {
  flex-direction: column;
  padding: 20px;
}
.packages-travel h2 {
  color: #96c471;
  margin: 15px 0;
}
.packages-travel .list-travels .travel-item {
  padding: 15px 0;
}