header {
    background-color: $secondary-color;
    .main-nav {
        padding: 16px;
        .main-menu {
            justify-content: center;
            .menu-item {
                margin-right: 15px;
                .active {
                    text-decoration: underline;
                }
                .menu-item-link {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $third-color;
                }
                .menu-item-link:hover {
                    color: $primary-color;
                }
            }
        }
    }
}
