header {
    background-color: $secondary-color;
    .main-nav {
        padding: 20px;
        .main-menu {
            justify-content: center;
            .menu-item {
                margin-right: 25px;
                .menu-item-link {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $third-color;
                }
                .menu-item-link:hover {
                    color: $primary-color;
                }
                .menu-item-link.active {
                    text-decoration: underline;
                    color: $primary-color;
                }
            }
        }
    }
}
