.packages-travel {
    flex-direction: column;
    padding: 20px;
    h2 {
        color: $primary-color;
        margin: 15px 0;
    }
    .list-travels {
        .travel-item {
            padding: 15px 0;
        }
    }
}
